@model ABM.ViewModels.UserViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>

    </dl>
</div>
<div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Volver", "Index")
    </p>
    <div class="float-left">
        <div>
            <span id="confirmDeleteSpan_@Model.Id" style="display:none">
                <span>Esta seguro que desea eliminar?</span>
                <button onclick="location.href='@Url.Action("Delete", "User", new { id = Model.Id })'" class="btn btn-danger">Eliminar</button>
                <a href="#deleteSpan_@Model.Id" class="btn btn-primary"
                   onclick="confirmDelete('@Model.Id', false)">Cancelar</a>
            </span>

            <span id="deleteSpan_@Model.Id">
                <a href="#deleteSpan_@Model.Id" class="btn btn-danger"
                   onclick="confirmDelete('@Model.Id', true)">Eliminar</a>
            </span>
        </div>
    </div>
</div>

<script src="~/Scripts/Custom/confirm-delete.js"></script>
