@model IEnumerable<ABM.ViewModels.UserViewModel>

@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<br />
<h2>Panel administracion de usuarios</h2>
<p>En este panel se administra los usuarios, se puede ver los detalles de los mismos, editar y eliminar.<br />
    <b class="font-weight-bold">¡Atención!</b> Los usuarios creados desde este panel, tendrán los permisos para ADMINISTRAR la página.</p>
<hr />
<p>
    <a href="../User/Create" class="btn btn-primary">Crear nuevo administrador</a>
</p>

@if (@ViewBag.Error != null)
{
    <div class="alert alert-info" role="alert">
        @ViewBag.Error
    </div>
}
@if (@ViewBag.Message != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Message
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <div>
                    <button onclick="location.href='@Url.Action("Edit", "User", new { id = item.Id })'" class="btn btn-primary" style="margin-bottom:2px">Editar</button>
                    <button onclick="location.href='@Url.Action("Detalles", "User", new { id = item.Id })'" class="btn btn-primary" style="margin-bottom:2px">Detalles</button>

                    <span id="confirmDeleteSpan_@item.Id" style="display:none">
                        <span>Esta seguro que desea eliminar?</span>
                        <button onclick="location.href='@Url.Action("Delete", "User", new { id = item.Id })'" class="btn btn-danger" style="margin-bottom:2px">Eliminar</button>
                        <a href="#deleteSpan_@item.Id" class="btn btn-primary"
                           onclick="confirmDelete('@item.Id', false)">Cancelar</a>
                    </span>

                    <span id="deleteSpan_@item.Id">
                        <a href="#deleteSpan_@item.Id" class="btn btn-danger"
                           onclick="confirmDelete('@item.Id', true)">Eliminar</a>
                    </span>
                </div>
            </td>
        </tr>
    }

</table>

<script src="~/Scripts/Custom/confirm-delete.js"></script>
