@model ABM.Models.User
@{
    ViewBag.Title = "Login";
}

    <fieldset>
        <legend>Login</legend>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }
        <Form method="post" action="/User/Login">
            <div>
                <div>@Html.LabelFor(a => a.username)</div>
                <div>@Html.TextBoxFor(a => a.username)</div>
                <div>@Html.ValidationMessageFor(a => a.username)</div>
            </div>
            <div>
                <div>
                    @Html.LabelFor(a => a.pass)
                </div>
                <div>
                    @Html.PasswordFor(a => a.pass)
                </div>
                <div>
                    @Html.ValidationMessageFor(a => a.pass)
                </div>
            </div>

                <div style="margin-top: 20px">
                    <button class="btn btn-primary btn-lg" type="submit" value="Login"> Iniciar Sesión </button>
                </div>
              

        </Form>
    </fieldset>
