@model ABM.ViewModels.UserViewModel
@{
    ViewBag.Title = "Login";
}

    <fieldset>
        <legend>Login</legend>
        @using (Html.BeginForm()) { 
        <Form method="post" action="/User/Login" >
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }
            <div>
                <div>@Html.LabelFor(a => a.Email)</div>
                <div>@Html.TextBoxFor(a => a.Email)</div>
                <div>@Html.ValidationMessageFor(a => a.Email, "", new { @class = "text-danger" })</div>
            </div>
            <div>
                <div>
                    @Html.LabelFor(a => a.Pass)
                </div>
                <div>
                   @Html.PasswordFor(a => a.Pass)
                </div>
                <div>
                    @Html.ValidationMessageFor(a => a.Pass, "", new { @class = "text-danger" })
                </div>
            </div>

                <div style="margin-top: 20px">
                    <button class="btn btn-primary btn-lg" type="submit" value="Login"> Iniciar Sesión </button>
                </div>
              

        </Form>
        }
    </fieldset>
