@model ABM.ViewModels.UserViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Amulen</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Template/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Template/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Template/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Template/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Template/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Template/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Template/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Template/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Template/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Template/css/main.css">
    <!--===============================================================================================-->
</head>
<body style="background-color: #666666;">

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                @using (Html.BeginForm("Login", "User", FormMethod.Post, new { @class = "login100-form" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    
                    //Icon on the top
                    <img src="~/Content/Template/images/icons/AmulenLogo.png" class="login100-form-title" style="height: 150px; width: 150px; margin-left: 130px; " alt="">
                    <span class="login100-form-title p-b-43">

                    </span>

                    //Emmail Input
                    <div class="wrap-input100 ">
                        <input class="input100" type="text" name="email" id="Email">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Correo</span>
                    </div>
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                    //Password Input
                    <div class="wrap-input100">
                        <input class="input100" type="password" name="Pass">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Contraseña</span>
                    </div>
                    @Html.ValidationMessageFor(model => model.Pass, "", new { @class = "text-danger" })

                    //SignIn Button
                    <div class="container-login100-form-btn" style="margin-bottom: 20px; margin-top:20px">
                        <button class="login100-form-btn " type="submit" value="Login" id="loginButton">
                            Iniciar Sesión
                        </button>
                    </div>

                    //Register Button
                    <div class="center" style="margin-bottom: 20px; margin-top:20px">
                        <a href="../User/Register" class="txt1">
                            <button class="login100-form-btn " type="button" value="Login" id="loginButton">
                                Registrate acá
                            </button>
                        </a>
                    </div>

                    //ForgotPassword Button
                    <div class="container-login100-form-btn" style="margin-bottom: 20px; margin-top:20px">
                        <a href="../User/ForgotPassword" class="txt1">
                            ¿Olvido su contraseña?
                        </a>
                    </div>

                    //Facebook Button
                    <div class="login100-form-social flex-c-m">
                        <a href="https://www.facebook.com/amulen.tallerproductivo" class="login100-form-social-item flex-c-m bg1 m-r-5">
                            <i class="fa fa-facebook-f" aria-hidden="true"></i>
                        </a>
                    </div>
                }

                @* Image to the left *@
                <div class="login100-more" style="background-image: url('/Content/Template/images/Amulen2.jpg')">
                </div>

            </div>
        </div>
    </div>
</body>
</html>
<!--===============================================================================================-->
<script src="~/Content/Template/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="~/Content/Template/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="~/Content/Template/vendor/bootstrap/js/popper.js"></script>
<script src="~/Content/Template/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="~/Content/Template/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="~/Content/Template/vendor/daterangepicker/moment.min.js"></script>
<script src="~/Content/Template/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="~/Content/Template/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="~/Content/Template/js/main_login.js"></script>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>



@*<fieldset>
        <legend>Login</legend>
        @using (Html.BeginForm())
        {
            <Form method="post" action="/User/Login">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @if (@ViewBag.Message != null)
                {
                    <div style="border: 1px solid red">
                        @ViewBag.Message
                    </div>
                }
                <div>
                    <div>@Html.LabelFor(a => a.Email)</div>
                    <div>@Html.TextBoxFor(a => a.Email)</div>
                    <div>@Html.ValidationMessageFor(a => a.Email, "", new { @class = "text-danger" })</div>
                </div>
                <div>
                    <div>
                        @Html.LabelFor(a => a.Pass)
                    </div>
                    <div>
                        @Html.PasswordFor(a => a.Pass)
                    </div>
                    <div>
                        @Html.ValidationMessageFor(a => a.Pass, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div style="margin-top: 20px">
                    <button class="btn btn-primary btn-lg" type="submit" value="Login"> Iniciar Sesión </button>
                </div>


            </Form>
        }
    </fieldset>*@
