@model ABM.ViewModels.UserViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Amulen</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Template/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Template/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Template/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Template/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Template/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Template/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Template/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Template/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Template/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Template/css/main.css">
    <!--===============================================================================================-->
</head>
<body style="background-color: #666666;">

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                @using (Html.BeginForm("Register", "User", FormMethod.Post, new { @class = "login100-form" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="center">
                        <img src="~/Content/Template/images/icons/AmulenLogo.png" class="login100-form-title" style="height: 150px; width: 150px; margin: auto; " alt="">
                    </div>

                    <br />
                    <div class="wrap-input100">
                        <input class="input100" type="text" name="Name">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Nombre completo</span>
                    </div>
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                    <div class="wrap-input100">
                        <input class="input100" type="text" name="Email">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Correo</span>
                    </div>
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                    <div class="wrap-input100">
                        <input class="input100" type="text" name="UserName">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Nombre de usuario</span>
                    </div>
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })

                    <div class="wrap-input100">
                        <input class="input100" type="password" name="Pass">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Contraseña</span>
                    </div>
                    @Html.ValidationMessageFor(model => model.Pass, "", new { @class = "text-danger" })

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="submit">
                            Registrarme
                        </button>
                    </div>
                }
                <div class="login100-more" style="background-image: url('/Content/Template/images/Amulen2.jpg')">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<!--===============================================================================================-->
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<!--===============================================================================================-->
<script src="~/Content/Template/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="~/Content/Template/vendor/bootstrap/js/popper.js"></script>
<script src="~/Content/Template/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="~/Content/Template/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="~/Content/Template/vendor/daterangepicker/moment.min.js"></script>
<script src="~/Content/Template/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="~/Content/Template/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="~/Content/Template/js/main_login.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
