@model ABM.ViewModels.SubViewModel

@{
    Layout = null;
}

<h2>Suscribite a nuestras noticias!</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Ingrese su nombre completo" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Ingrese su correo electrónico" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="form-group">
                <div class="green">
                    <span class="alert-success">@TempData["SuccessMessage"].ToString()</span>
                </div>
            </div>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Suscribirme" class="btn btn-primary text-white" />
            </div>
        </div>
    </div>
}
