@model ABM.ViewModels.UserViewModel

@{
    ViewBag.Title = "UpdatePassword";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Amulen</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Template/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Template/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Template/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Template/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Template/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Template/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Template/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Template/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Template/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Template/css/main.css">
    <!--===============================================================================================-->
</head>
<body style="background-color: #666666;">

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form validate-form">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                    Usuario
                                <div class="col-md-10">
                                    @Model.UserName
                                    
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Pass, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.Pass)
                                    @Html.ValidationMessageFor(model => model.Pass, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Guardar     " class="btn btn-default" />
                                </div>
                                @if (TempData["Error"] != null)
                                {
                                    <div class="alert alert-info    " role="alert">
                                        @TempData["Error"].ToString()
                                    </div>
                                }
                            </div>
                        </div>
                    }

                    <div>
                        @Html.ActionLink("Volver", "Index")
                    </div>
                </div>

                <div class="login100-more" style="background-image: url('/Content/Template/images/Amulen2.jpg')">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<!--===============================================================================================-->
<script src="~/Content/Template/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="~/Content/Template/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="~/Content/Template/vendor/bootstrap/js/popper.js"></script>
<script src="~/Content/Template/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="~/Content/Template/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="~/Content/Template/vendor/daterangepicker/moment.min.js"></script>
<script src="~/Content/Template/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="~/Content/Template/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="~/Content/Template/js/main_login.js"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
