@model IEnumerable<ABM.ViewModels.UserViewModel>

@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-5">
            <h4 class="page-title">Panel de de usuarios</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">Usuarios</li>
                        <li class="breadcrumb-item active" aria-current="page">Administrador</li>
                    </ol>
                </nav>
            </div>
        </div>

    </div>
</div>
<br />
<h2>Panel administracion de usuarios</h2>
<p>En este panel se administra los usuarios, se puede ver los detalles de los mismos, editar y eliminar.</p>
<hr />
    @Html.ActionLink("Crear nuevo usuario", "Create")
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                <div>
                    <span id="confirmDeleteSpan_@item.Id" style="display:none">
                        <span>Esta seguro que desea eliminar?</span>
                        <button onclick="location.href='@Url.Action("Delete", "User", new { id = item.Id })'" class="btn btn-danger">Eliminar</button>
                        <a href="#deleteSpan_@item.Id" class="btn btn-primary"
                           onclick="confirmDelete('@item.Id', false)">Cancelar</a>
                    </span>

                    <span id="deleteSpan_@item.Id">
                        <a href="#deleteSpan_@item.Id" class="btn btn-danger"
                           onclick="confirmDelete('@item.Id', true)">Eliminar</a>
                    </span>
                </div>
            </td>
        </tr>
    }

</table>

<script src="~/Scripts/Custom/confirm-delete.js"></script>
