@model IEnumerable<ABM.ViewModels.ProyectViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<br />
<h2>Panel de administracion de proyectos</h2>
<p>En este panel se administran los proyectos, se puede ver los detalles de los mismos, editar y eliminar. 
    <br /> Los proyectos aquí creados serán mostrados en la página principal, en la sección de Proyectos.</p>


<hr />
<p>
    <a href="../Proyect/Create" class="btn btn-primary">Crear nuevo proyecto</a>
</p>

@if (@ViewBag.Error != null)
{
    <div class="alert alert-info" role="alert">
        @ViewBag.Error
    </div>
}
@if (@ViewBag.Message != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Message
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectDetail)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectDetail)
            </td>
            <td>
                <div>
                    <!-- CRUD BUTTONS -->
                    <button onclick="location.href='@Url.Action("Edit", "Proyect", new { id = item.Id })'" class="btn btn-primary" style="margin-bottom:2px">Editar</button>
                    <button onclick="location.href='@Url.Action("Details", "Proyect", new { id = item.Id })'" class="btn btn-primary" style="margin-bottom:2px">Detalles</button>
                    <!-- Button trigger modal -->


                    <span id="confirmDeleteSpan_@item.Id" style="display:none">
                        <span>Esta seguro que desea eliminar?</span>
                        <button onclick="location.href='@Url.Action("Delete", "Proyect", new { id = item.Id })'" class="btn btn-danger" style="margin-bottom:2px">Eliminar</button>
                        <a href="#deleteSpan_@item.Id" class="btn btn-primary"
                           onclick="confirmDelete('@item.Id', false)">Cancelar</a>
                    </span>

                    <span id="deleteSpan_@item.Id">
                        <a href="#deleteSpan_@item.Id" class="btn btn-danger"
                           onclick="confirmDelete('@item.Id', true)">Eliminar</a>
                    </span>
                </div>
            </td>
        </tr>
    }

</table>

<script src="~/Scripts/Custom/confirm-delete.js"></script>
